In [1]:
import pandas as pd


data = [100, 200, 300]
index = ["월", "화", "수"]
s = pd.Series(data=data, index=index)

In [2]:
print(s.iloc[0:2])
print(s.loc["월":"화"])

월    100
화    200
dtype: int64
월    100
화    200
dtype: int64

In [3]:
print(s.iloc[[0, 2]])
print(s.loc[["월", "수"]])

월    100
수    300
dtype: int64
월    100
수    300
dtype: int64

In [4]:
s.loc["목"] = 400 # Series에 값 추가
print(s)

월    100
화    200
수    300
목    400
dtype: int64

In [5]:
s1 = s.drop(["월", "수"])
# 원본 Series에서 값 삭제된 객체 리턴, 원본은 유지
print(s1)

화    200
목    400
dtype: int64

In [6]:
s.iloc[0] = 123 # Series의 값 수정
print(s)

월    123
화    200
수    300
목    400
dtype: int64

In [7]:
data = {
    "종가": [157000, 51300, 68800, 140000],
    "PER": [39.88, 8.52, 10.03, 228.38],
    "PBR": [4.38, 1.45, 0.87, 2.16]
}

index = ["네이버", "삼성전자", "LG전자", "카카오"]

df = pd.DataFrame(data=data,index=index)
print(df)

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16