In [53]:
import pandas as pd


data = [100, 200, 300]
index = ["월", "화", "수"]
s = pd.Series(data=data, index=index)

In [54]:
s.iloc[0:2]
s.loc["월":"화"]
# 월    100
# 화    200

월    100
화    200
dtype: int64

In [55]:
s.iloc[[0, 2]]
s.loc[["월", "수"]]
# 월    100
# 수    300

월    100
수    300
dtype: int64

In [56]:
s.loc["목"] = 400 # Series에 값 추가
# s["금"] = 400
s
# 월    123
# 화    200
# 수    300
# 목    400

월    100
화    200
수    300
목    400
dtype: int64

In [57]:
s1 = s.drop(["월", "수"])
# 원본 Series에서 값 삭제된 객체 리턴, 원본은 유지
print(s1)
# 화    200
# 목    400

화    200
목    400
dtype: int64

In [58]:
s.iloc[0] = 123 # Series의 값 변경
# s.loc["월"] = 123
# s[0] = 123
s
# 월    123
# 화    200
# 수    300
# 목    400

월    123
화    200
수    300
목    400
dtype: int64

In [59]:
s.loc["금"] = 500
s
# 월    123
# 화    200
# 수    300
# 목    400
# 금    500

월    123
화    200
수    300
목    400
금    500
dtype: int64

In [60]:
s.drop("목", inplace=True) 
# Series의 값 삭제 (inplace=True 시 원본 삭제)
s

월    123
화    200
수    300
금    500
dtype: int64

In [63]:
import pandas as pd

s = pd.Series([100, 200, 300])

In [64]:
s+10
# 연산이 Series 객체의 전체 값에 적용됨
# 0    110
# 1    210
# 2    310

0    110
1    210
2    310
dtype: int64

In [66]:
high = pd.Series([150, 120, 210])
low = pd.Series([10, 30, 20])
diff = high - low
print(diff)
# 0    140
# 1     90
# 2    190

0    140
1     90
2    190
dtype: int64

In [70]:
s = pd.Series([100, 200, 300, 400, 500])
cond = s > 300
print(cond)
# 0    False
# 1    False
# 2    False
# 3     True
# 4     True

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [69]:
cond = s > 300 # True or False
print(s[cond])
# True인 데이터만 출력됨
# 3    400
# 4    500

3    400
4    500
dtype: int64

In [73]:
# 고가와 저가 차이가 100 이상인 날의 고가 출력
low = pd.Series([10, 200, 200, 400, 600])
high = pd.Series([100, 300, 400, 500, 600])
gap = high - low

cond = gap >= 100
print(high[cond])

1    300
2    400
3    500
dtype: int64

In [80]:
# 종가가 80000원이상 90000원 미만인 날짜 출력
data = [93000, 82400, 99100, 81000, 72300]
index = ["05/14", "05/15", "05/16", "05/17", "05/18"]
endPrice = pd.Series(data=data, index=index)

cond = (endPrice >= 80000) & (endPrice < 90000)
print(endPrice[cond].index)
# Index(['05/15', '05/17'], dtype='object')

for date in endPrice[cond].index:
    print(date)
# 05/15
# 05/17

Index(['05/15', '05/17'], dtype='object')
05/15
05/17