In [132]:
import pandas as pd

In [133]:
data = [100, 200, 300]
index = ["월", "화", "수"]

s = pd.Series(data=data, index=index)

print(s.iloc[0:2])
print(s.loc["월":"화"])

월    100
화    200
dtype: int64
월    100
화    200
dtype: int64

In [134]:
print(s.iloc[[0, 2]])
print(s.loc[["월", "수"]])

월    100
수    300
dtype: int64
월    100
수    300
dtype: int64

In [135]:
s.loc["목"] = 400 # Series에 값 추가
print(s)

월    100
화    200
수    300
목    400
dtype: int64

In [136]:
s1 = s.drop(["월", "수"])
# 원본 Series에서 값 삭제된 객체 리턴, 원본은 유지
print(s1)

화    200
목    400
dtype: int64

In [137]:
s.iloc[0] = 123 # Series의 값 수정
print(s)

월    123
화    200
수    300
목    400
dtype: int64

In [138]:
# DataFrame 생성 (1/3)
# 2차원 표에서 컬럼 단위로 데이터를 표현
data = {
    "종가": [157000, 51300, 68800, 140000],
    "PER": [39.88, 8.52, 10.03, 228.38],
    "PBR": [4.38, 1.45, 0.87, 2.16]
}

index = ['네이버', '삼성전자', 'LG전자', '카카오']

df = pd.DataFrame(data, index)
print(df)

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16

In [139]:
# DataFrame 생성 (2/3)
# 2차원 표에서 로우 단위로 데이터를 표현
data = [
    [157000, 39.88, 4.38],
    [51300, 8.52, 1.45],
    [68800, 10.03, 0.87],
    [140000, 228.38, 2.16]
]

index = ['네이버', '삼성전자', 'LG전자', '카카오']
columns = ['종가', 'PER', 'PBR']

df = pd.DataFrame(data=data, index=index, columns=columns)
print(df)

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16

In [140]:
# DataFrame 생성 (3/3)
# 2차원 표에서 로우 단위로 데이터를 딕셔너리로 표현
data = [
    {"종가": 157000, "PER": 39.88, "PBR": 4.38},
    {"종가": 51300, "PER": 8.52, "PBR": 1.45},
    {"종가": 68800, "PER": 10.03, "PBR": 0.87},
    {"종가": 140000, "PER": 228.38, "PBR": 2.16}
]

index = ['네이버', '삼성전자', 'LG전자', '카카오']

df = pd.DataFrame(data=data, index=index)
print(df)

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16

In [141]:
data = [
    [980, 990, 920, 930],
    [200, 300, 180, 180],
    [300, 500, 300, 400]
]

index = ['비트코인', '리플', '이더리움']

columns = ['시가', '고가', '저가', '종가']

df = pd.DataFrame(data=data, index=index, columns=columns)
print(df)

       시가   고가   저가   종가
비트코인  980  990  920  930
리플    200  300  180  180
이더리움  300  500  300  400

In [142]:
data = {
    "시가": [980, 200, 300],
    "고가": [990, 300, 500],
    "저가": [920, 180, 300],
    "종가": [930, 180, 400]
}

index = ['비트코인', '리플', '이더리움']

df = pd.DataFrame(data=data, index=index)
print(df)

       시가   고가   저가   종가
비트코인  980  990  920  930
리플    200  300  180  180
이더리움  300  500  300  400

In [143]:
data = {
    "종가": [157000, 51300, 68800, 140000],
    "PER": [39.88, 8.52, 10.03, 228.38],
    "PBR": [4.38, 1.45, 0.87, 2.16]
}

index = ['네이버', '삼성전자', 'LG전자', '카카오']

df = pd.DataFrame(data, index)
print(df)
print()

# 로우 선택
print(df['종가'])
print()
print(df['PER'])
print()

# 멀티 로우 선택
print(df[['PER', 'PBR']])

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16

네이버     157000
삼성전자     51300
LG전자     68800
카카오     140000
Name: 종가, dtype: int64

네이버      39.88
삼성전자      8.52
LG전자     10.03
카카오     228.38
Name: PER, dtype: float64

         PER   PBR
네이버    39.88  4.38
삼성전자    8.52  1.45
LG전자   10.03  0.87
카카오   228.38  2.16

In [144]:
data = {
    "종가": [157000, 51300, 68800, 140000],
    "PER": [39.88, 8.52, 10.03, 228.38],
    "PBR": [4.38, 1.45, 0.87, 2.16]
}

index = ['네이버', '삼성전자', 'LG전자', '카카오']

df = pd.DataFrame(data, index)
print(df)
print()

# 로우 선택
print(df.iloc[1])
print()
print(df.loc['삼성전자'])
print()

# 멀티 로우 선택
print(df.iloc[[0, 2]])
print()
print(df.loc[['네이버', 'LG전자']])

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16

종가     51300.00
PER        8.52
PBR        1.45
Name: 삼성전자, dtype: float64

종가     51300.00
PER        8.52
PBR        1.45
Name: 삼성전자, dtype: float64

          종가    PER   PBR
네이버   157000  39.88  4.38
LG전자   68800  10.03  0.87

          종가    PER   PBR
네이버   157000  39.88  4.38
LG전자   68800  10.03  0.87

In [145]:
data = {
    "종가": [157000, 51300, 68800, 140000],
    "PER": [39.88, 8.52, 10.03, 228.38],
    "PBR": [4.38, 1.45, 0.87, 2.16]
}

index = ['네이버', '삼성전자', 'LG전자', '카카오']

df = pd.DataFrame(data, index)
print(df)
print()

# 로우 슬라이싱
print(df.iloc[0:2]) # 인덱스 0부터 1까지 출력
print()
print(df.loc['네이버':'LG전자']) # LG전자 포함 출력

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16

          종가    PER   PBR
네이버   157000  39.88  4.38
삼성전자   51300   8.52  1.45

          종가    PER   PBR
네이버   157000  39.88  4.38
삼성전자   51300   8.52  1.45
LG전자   68800  10.03  0.87

In [146]:
data = [
    ['3R0', 1510, 7.36],
    ['3SOFT', 1790, 1.65],
    ['ACTS', 1185, 1.28]
]

index = ['037730', '036360', '005760']
columns = ['종목명', '현재가', '등락률']

df = pd.DataFrame(data, index, columns)
print(df)
print()

# 특정 값 가져오기
print(df.iloc[1, 1])
print()
print(df.loc['036360', '현재가'])

# 특정 영역 가져오기
print(df.iloc[[0, 1], [0, 1]])
print()
print(df.iloc[0:2, [0, 1]])
print()
print(df.iloc[0:2, 0:2])
print()
print(df.loc[['037730', '036360'], ['종목명', '현재가']])
print()
print(df.loc['037730':'036360', '종목명':'현재가']) # 036360, 현재가 포함 출력

          종목명   현재가   등락률
037730    3R0  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

1790

1790
          종목명   현재가
037730    3R0  1510
036360  3SOFT  1790

          종목명   현재가
037730    3R0  1510
036360  3SOFT  1790

          종목명   현재가
037730    3R0  1510
036360  3SOFT  1790

          종목명   현재가
037730    3R0  1510
036360  3SOFT  1790

          종목명   현재가
037730    3R0  1510
036360  3SOFT  1790

In [147]:
import pyupbit

df = pyupbit.get_ohlcv('KRW-BTC')
print(df)

                           open        high         low       close  \
2024-02-27 09:00:00  74741000.0  79183000.0  74554000.0  78619000.0
2024-02-28 09:00:00  78621000.0  88424000.0  78082000.0  87634000.0
2024-02-29 09:00:00  87695000.0  90000000.0  85244000.0  85910000.0
2024-03-01 09:00:00  85911000.0  88500000.0  85910000.0  87397000.0
2024-03-02 09:00:00  87397000.0  87724000.0  86090000.0  86383000.0
...                         ...         ...         ...         ...
2024-09-09 09:00:00  74439000.0  78500000.0  74093000.0  77275000.0
2024-09-10 09:00:00  77274000.0  78485000.0  76432000.0  78089000.0
2024-09-11 09:00:00  78091000.0  78200000.0  75380000.0  77301000.0
2024-09-12 09:00:00  77363000.0  78830000.0  77300000.0  78269000.0
2024-09-13 09:00:00  78269000.0  78421000.0  77700000.0  78109000.0

                           volume         value
2024-02-27 09:00:00  10168.668479  7.894270e+11
2024-02-28 09:00:00  19254.097473  1.605842e+12
2024-02-29 09:00:00  14269.126844  1.247892e+12
2024-03-01 09:00:00   6256.971936  5.457934e+11
2024-03-02 09:00:00   5481.662532  4.758362e+11
...                           ...           ...
2024-09-09 09:00:00   3101.054865  2.353119e+11
2024-09-10 09:00:00   2189.560807  1.693626e+11
2024-09-11 09:00:00   3055.314038  2.345734e+11
2024-09-12 09:00:00   2510.012594  1.962143e+11
2024-09-13 09:00:00   1011.028018  7.888168e+10

[200 rows x 6 columns]

In [148]:
df.head() # 맨 앞 5개
df.tail() # 맨 뒤 5개

,open,high,low,close,volume,value
2024-02-27 09:00:00,74741000.0,79183000.0,74554000.0,78619000.0,10168.668479,7.894270e+11
2024-02-28 09:00:00,78621000.0,88424000.0,78082000.0,87634000.0,19254.097473,1.605842e+12
2024-02-29 09:00:00,87695000.0,90000000.0,85244000.0,85910000.0,14269.126844,1.247892e+12
2024-03-01 09:00:00,85911000.0,88500000.0,85910000.0,87397000.0,6256.971936,5.457934e+11
2024-03-02 09:00:00,87397000.0,87724000.0,86090000.0,86383000.0,5481.662532,4.758362e+11

In [149]:
df['range'] = df['high'] - df['low']
df

,open,high,low,close,volume,value,range
2024-02-27 09:00:00,74741000.0,79183000.0,74554000.0,78619000.0,10168.668479,7.894270e+11,4629000.0
2024-02-28 09:00:00,78621000.0,88424000.0,78082000.0,87634000.0,19254.097473,1.605842e+12,10342000.0
2024-02-29 09:00:00,87695000.0,90000000.0,85244000.0,85910000.0,14269.126844,1.247892e+12,4756000.0
2024-03-01 09:00:00,85911000.0,88500000.0,85910000.0,87397000.0,6256.971936,5.457934e+11,2590000.0
2024-03-02 09:00:00,87397000.0,87724000.0,86090000.0,86383000.0,5481.662532,4.758362e+11,1634000.0
...,...,...,...,...,...,...,...
2024-09-09 09:00:00,74439000.0,78500000.0,74093000.0,77275000.0,3101.054865,2.353119e+11,4407000.0
2024-09-10 09:00:00,77274000.0,78485000.0,76432000.0,78089000.0,2189.560807,1.693626e+11,2053000.0
2024-09-11 09:00:00,78091000.0,78200000.0,75380000.0,77301000.0,3055.314038,2.345734e+11,2820000.0
2024-09-12 09:00:00,77363000.0,78830000.0,77300000.0,78269000.0,2510.012594,1.962143e+11,1530000.0
2024-09-13 09:00:00,78269000.0,78421000.0,77700000.0,78109000.0,1011.028018,7.888168e+10,721000.0

In [150]:
df.drop('range', axis=1, inplace=True) # axis=축 (axis=0 -> row, axis=1 -> column)
# 원본 유지, 컬럼이 삭제된 새로운 DataFrame 객체 리턴
# inplace=True 시 원본에서 삭제됨

In [151]:
date = ['2024-09-13', '2024-09-12']
dt = pd.to_datetime(date)
print(dt)
print(dt[0])

DatetimeIndex(['2024-09-13', '2024-09-12'], dtype='datetime64[ns]', freq=None)
2024-09-13 00:00:00

In [152]:
df.drop(['volume', 'value'], axis=1, inplace=True)
print(df)

                           open        high         low       close
2024-02-27 09:00:00  74741000.0  79183000.0  74554000.0  78619000.0
2024-02-28 09:00:00  78621000.0  88424000.0  78082000.0  87634000.0
2024-02-29 09:00:00  87695000.0  90000000.0  85244000.0  85910000.0
2024-03-01 09:00:00  85911000.0  88500000.0  85910000.0  87397000.0
2024-03-02 09:00:00  87397000.0  87724000.0  86090000.0  86383000.0
...                         ...         ...         ...         ...
2024-09-09 09:00:00  74439000.0  78500000.0  74093000.0  77275000.0
2024-09-10 09:00:00  77274000.0  78485000.0  76432000.0  78089000.0
2024-09-11 09:00:00  78091000.0  78200000.0  75380000.0  77301000.0
2024-09-12 09:00:00  77363000.0  78830000.0  77300000.0  78269000.0
2024-09-13 09:00:00  78269000.0  78421000.0  77700000.0  78109000.0

[200 rows x 4 columns]

In [155]:
date = '2024-09-13 22:52:22'
dt = pd.to_datetime(date)
print(dt)

df.loc[dt] = [100, 110, 100, 100]
df

2024-09-13 22:52:22

                           open        high         low       close
2024-02-27 09:00:00  74741000.0  79183000.0  74554000.0  78619000.0
2024-02-28 09:00:00  78621000.0  88424000.0  78082000.0  87634000.0
2024-02-29 09:00:00  87695000.0  90000000.0  85244000.0  85910000.0
2024-03-01 09:00:00  85911000.0  88500000.0  85910000.0  87397000.0
2024-03-02 09:00:00  87397000.0  87724000.0  86090000.0  86383000.0
...                         ...         ...         ...         ...
2024-09-10 09:00:00  77274000.0  78485000.0  76432000.0  78089000.0
2024-09-11 09:00:00  78091000.0  78200000.0  75380000.0  77301000.0
2024-09-12 09:00:00  77363000.0  78830000.0  77300000.0  78269000.0
2024-09-13 09:00:00  78269000.0  78421000.0  77700000.0  78109000.0
2024-09-13 22:52:22       100.0       110.0       100.0       100.0

[201 rows x 4 columns]

In [156]:
df.drop(df.index[-1], axis=0, inplace=True)
print(df)

                           open        high         low       close
2024-02-27 09:00:00  74741000.0  79183000.0  74554000.0  78619000.0
2024-02-28 09:00:00  78621000.0  88424000.0  78082000.0  87634000.0
2024-02-29 09:00:00  87695000.0  90000000.0  85244000.0  85910000.0
2024-03-01 09:00:00  85911000.0  88500000.0  85910000.0  87397000.0
2024-03-02 09:00:00  87397000.0  87724000.0  86090000.0  86383000.0
...                         ...         ...         ...         ...
2024-09-09 09:00:00  74439000.0  78500000.0  74093000.0  77275000.0
2024-09-10 09:00:00  77274000.0  78485000.0  76432000.0  78089000.0
2024-09-11 09:00:00  78091000.0  78200000.0  75380000.0  77301000.0
2024-09-12 09:00:00  77363000.0  78830000.0  77300000.0  78269000.0
2024-09-13 09:00:00  78269000.0  78421000.0  77700000.0  78109000.0

[200 rows x 4 columns]