In [48]:
import pandas as pd


data = [100, 200, 300]
index = ["월", "화", "수"]
s = pd.Series(data=data, index=index)

In [49]:
print(s.iloc[0:2])
print(s.loc["월":"화"])

월    100
화    200
dtype: int64
월    100
화    200
dtype: int64

In [50]:
print(s.iloc[[0, 2]])
print(s.loc[["월", "수"]])

월    100
수    300
dtype: int64
월    100
수    300
dtype: int64

In [51]:
s.loc["목"] = 400 # Series에 값 추가
print(s)

월    100
화    200
수    300
목    400
dtype: int64

In [52]:
s1 = s.drop(["월", "수"])
# 원본 Series에서 값 삭제된 객체 리턴, 원본은 유지
print(s1)

화    200
목    400
dtype: int64

In [53]:
s.iloc[0] = 123 # Series의 값 수정
print(s)

월    123
화    200
수    300
목    400
dtype: int64

In [54]:
# DataFrame 생성 (1/3)
# 2차원 표에서 컬럼 단위로 데이터를 표현
data = {
    "종가": [157000, 51300, 68800, 140000],
    "PER": [39.88, 8.52, 10.03, 228.38],
    "PBR": [4.38, 1.45, 0.87, 2.16]
}

index = ['네이버', '삼성전자', 'LG전자', '카카오']

df = pd.DataFrame(data, index)
print(df)

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16

In [55]:
# DataFrame 생성 (2/3)
# 2차원 표에서 로우 단위로 데이터를 표현
data = [
    [157000, 39.88, 4.38],
    [51300, 8.52, 1.45],
    [68800, 10.03, 0.87],
    [140000, 228.38, 2.16]
]

index = ['네이버', '삼성전자', 'LG전자', '카카오']
columns = ['종가', 'PER', 'PBR']

df = pd.DataFrame(data=data, index=index, columns=columns)
print(df)

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16

In [56]:
# DataFrame 생성 (3/3)
# 2차원 표에서 로우 단위로 데이터를 딕셔너리로 표현
data = [
    {"종가": 157000, "PER": 39.88, "PBR": 4.38},
    {"종가": 51300, "PER": 8.52, "PBR": 1.45},
    {"종가": 68800, "PER": 10.03, "PBR": 0.87},
    {"종가": 140000, "PER": 228.38, "PBR": 2.16}
]

index = ['네이버', '삼성전자', 'LG전자', '카카오']

df = pd.DataFrame(data=data, index=index)
print(df)

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16

In [57]:
data = [
    [980, 990, 920, 930],
    [200, 300, 180, 180],
    [300, 500, 300, 400]
]

index = ['비트코인', '리플', '이더리움']

columns = ['시가', '고가', '저가', '종가']

df = pd.DataFrame(data=data, index=index, columns=columns)
print(df)

       시가   고가   저가   종가
비트코인  980  990  920  930
리플    200  300  180  180
이더리움  300  500  300  400

In [58]:
data = {
    "시가": [980, 200, 300],
    "고가": [990, 300, 500],
    "저가": [920, 180, 300],
    "종가": [930, 180, 400]
}

index = ['비트코인', '리플', '이더리움']

df = pd.DataFrame(data=data, index=index)
print(df)

       시가   고가   저가   종가
비트코인  980  990  920  930
리플    200  300  180  180
이더리움  300  500  300  400

In [59]:
data = {
    "종가": [157000, 51300, 68800, 140000],
    "PER": [39.88, 8.52, 10.03, 228.38],
    "PBR": [4.38, 1.45, 0.87, 2.16]
}

index = ['네이버', '삼성전자', 'LG전자', '카카오']

df = pd.DataFrame(data, index)
print(df)
print()

# 로우 선택
print(df['종가'])
print()
print(df['PER'])
print()

# 멀티 로우 선택
print(df[['PER', 'PBR']])

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16

네이버     157000
삼성전자     51300
LG전자     68800
카카오     140000
Name: 종가, dtype: int64

네이버      39.88
삼성전자      8.52
LG전자     10.03
카카오     228.38
Name: PER, dtype: float64

         PER   PBR
네이버    39.88  4.38
삼성전자    8.52  1.45
LG전자   10.03  0.87
카카오   228.38  2.16

In [60]:
data = {
    "종가": [157000, 51300, 68800, 140000],
    "PER": [39.88, 8.52, 10.03, 228.38],
    "PBR": [4.38, 1.45, 0.87, 2.16]
}

index = ['네이버', '삼성전자', 'LG전자', '카카오']

df = pd.DataFrame(data, index)
print(df)
print()

# 로우 선택
print(df.iloc[1])
print()
print(df.loc['삼성전자'])
print()

# 멀티 로우 선택
print(df.iloc[[0, 2]])
print()
print(df.loc[['네이버', 'LG전자']])

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16

종가     51300.00
PER        8.52
PBR        1.45
Name: 삼성전자, dtype: float64

종가     51300.00
PER        8.52
PBR        1.45
Name: 삼성전자, dtype: float64

          종가    PER   PBR
네이버   157000  39.88  4.38
LG전자   68800  10.03  0.87

          종가    PER   PBR
네이버   157000  39.88  4.38
LG전자   68800  10.03  0.87

In [61]:
data = {
    "종가": [157000, 51300, 68800, 140000],
    "PER": [39.88, 8.52, 10.03, 228.38],
    "PBR": [4.38, 1.45, 0.87, 2.16]
}

index = ['네이버', '삼성전자', 'LG전자', '카카오']

df = pd.DataFrame(data, index)
print(df)
print()

# 로우 슬라이싱
print(df.iloc[0:2]) # 인덱스 0부터 1까지 출력
print()
print(df.loc['네이버':'LG전자']) # LG전자 포함 출력

          종가     PER   PBR
네이버   157000   39.88  4.38
삼성전자   51300    8.52  1.45
LG전자   68800   10.03  0.87
카카오   140000  228.38  2.16

          종가    PER   PBR
네이버   157000  39.88  4.38
삼성전자   51300   8.52  1.45

          종가    PER   PBR
네이버   157000  39.88  4.38
삼성전자   51300   8.52  1.45
LG전자   68800  10.03  0.87